html {
  background: #e8fbfc;
  color: #2f323a;
}

h1 {
  font-family: "Cinzel Decorative", cursive;
}

.heading {
  background: #539987;
  margin-top: 100px;
  margin-bottom: 40px;
}

.profile-pic {
  margin: 40px;
}

.icons-contacts {
  text-align: center;
}
