:root {
  --main-bg-color: #569f8d;
  --heading-font-family: "Cinzel Decorative", cursive;
  --accent-font-color: #d6a99a;
}

html {
  background-color: var(--main-bg-color);
}

body {
  background-color: var(--main-bg-color) !important;
}

h1 {
  font-weight: 600 !important;
}

a {
  text-decoration: none !important;
  color: var(--accent-font-color) !important;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

a:hover {
  color: #e2c2b8;
  text-shadow: 0px 0px 30px #e2c2b8;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.nav-link {
  color: var(--accent-font-color) !important;
  font-family: var(--heading-font-family);
}

.heading {
  margin-top: 100px;
  background-color: var(--main-bg-color);
  font-family: var(--heading-font-family);
}

.profile-pic {
  border-radius: 40% 60% 64% 36% / 69% 15% 85% 31%;
}

.portfolio-link {
  font-size: 26px;
  font-weight: 600;
  font-family: var(--heading-font-family);
}

.carousel {
  background-color: var(--main-bg-color);
}

.icons-contacts {
  background-color: var(--main-bg-color);
}

@media (max-width: 600px) {
  h1 {
    font-size: 26px !important;
    text-align: left;
  }
  h2 {
    font-size: 22px;
    text-align: left;
  }
  .portfolio-link {
    font-size: 22px;
  }
}
